.container {
  background-color: var(--white);
  border-radius: 15px;
  height: 610px;
  width: 900px;
  display: flex;
  padding: 20px;
  box-shadow: 2px 5px 50px var(--cool-gray);
}

/* Sidebar styling */
.container--sidebar {
  width: 40%;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
}

.sidebar {
  padding: 30px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.step--number {
  display: flex;
  border: 1px solid var(--alabaster);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  font-family: ubuntu-bold;
}

.step--number--active {
  background-color: var(--light-blue);
  color: var(--marine-blue);
  border: 1px solid var(--light-blue);
}

.step--info {
  color: var(--cool-gray);
}

.step--name {
  font-size: 0.825rem;
}
.info {
  font-family: ubuntu-bold;
  color: var(--alabaster);
}


/* Main content styling */
.container--main {
  color: var(--marine-blue);
  padding: 0 30px;
  width: 75%;
  height: 100%;
}

 form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: inherit;
 }

 main {
  height: inherit;
 }

 form .steps--navigator {
  margin-top: auto;
 }
/* Step 1 */

header {
  margin: 40px 0;
}
.instructions {
  color: var(--cool-gray);
  font-family: ubuntu-medium;
  margin-top: 10px;
}

.form--input {
  margin-bottom: 30px;
  
}

input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  margin-top: 10px;
  font-family: ubuntu-medium;
  font-size: 1.1rem;
  padding: 5px 15px;
  color: var(--marine-blue);
  cursor: pointer;
}

input::placeholder {
  color: var(--cool-gray);
}
input:focus {
  outline: none;
  border: 1px solid var(--marine-blue);
}

input::after:invalid {
  border: 1px solid var(--strawberry-red);
}

.steps--navigator {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.next-step {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--marine-blue);
  color: var(--white);
  cursor: pointer;
  font-family: ubuntu-medium;
  font-size: large;
}

.prev-step {
  all: unset;
  color: var(--cool-gray);
  margin-right: auto;
  font-family: ubuntu-medium;
  font-size: large;
  cursor: pointer;
}

.prev-step:hover {
  color: var(--marine-blue);
}

/* step 2 */


main p {
  color: var(--cool-gray);
}

.row {
  display: flex;
}


.active-plan {
  color: var(--marine-blue);
}

.plan-card--section {
  justify-content: space-between;
  margin-bottom: 30px;
}

.plan-text--section p, .plan-text--section h3{
  margin: 0;
  margin-bottom: 5px;
} 

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding: 20px;
  gap: 40px;
}

.selected-plan {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}

.plan--timing {
  display: flex;
  justify-content: center;
  background-color: var(--alabaster);
  align-items: center;
  gap: 20px;
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--marine-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* step 3 */
.add-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid var(--purplish-blue);
  padding: 20px;
  border-radius: 10px;
}

.add-on input {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  accent-color: var(--purplish-blue);
}

.add-on input:checked {
  background-color: var(--marine-blue);
}

.add-on-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.add-on-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-on-text h3, .add-on-text p {
  margin: 0;
}

.add-on-text h3 {
  margin-bottom: 5px;
}

.price {
  color: var(--purplish-blue);
}

/* step4 */
.summary {
  background-color: var(--magnolia);
  padding: 20px;
  border-radius: 10px;
}

.summary--plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.change-btn {
  color: var(--cool-gray);
}

.summary--plan h3 {
  margin-bottom: 10px;
}

.add-ons-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.total {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.thankYou {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  
}

.thank-you-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you-text {
  margin-top: 30px;
  text-align: center;
}

.thank-you-text h1 {
  margin-bottom: 20px;
}